<h1>User Profile</h1>
<h6>Name: <%= @user.name %></h6>
<h6>Bio: <%= @user.bio %></h6>
<h6>Email: <%= @user.email %></h6>
<%= link_to 'Show posts',user_posts_path(@user), class: "btn btn-outline-info mb-2" %>
