<h2> <%= @post.title %> </h2>
<p> <%= @post.body %> </p>

<ul>
  <li>
    <%= link_to 'Edit post', edit_post_path(@post), class: "btn btn-secondary mb-2" %>
  </li>
  <li>
    <%= link_to 'Delete post', post_path(@post), data: { method: :delete, confirm: "Are you sure?" }, class: "btn btn-danger mb-2" %>
  </li>
</ul>
